/* Main stylesheets */

/*.root {
    -fx-background-image: url("@/../images/City_bg2.jpg");
}*/

#mainScreen {
    prefHeight: 800px;
    prefWidth: 360px;
    /*-fx-background-color: rgb(44,61,50);*/
    /*-fx-background-color: linear-gradient(to bottom right, rgba(38,35,94,1) 0%, rgba(77,143,75,1) 35%, rgba(127,157,54,1) 50%, rgba(199,94,53,1) 78%, rgba(0,142,255,1) 100%);*/
    /*(150deg, rgba(2,0,36,1) 0%, rgba(77,143,75,1) 40%, rgba(0,142,255,1) 100%)*/
    /*-fx-background-image: url("@/../../images/bg/City_bg2.jpg");*/
    -fx-background-repeat: none;
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-attachment: fixed;
}

.bgImage {
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.text {
    -fx-font-family: Roboto;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-font-alignment:center;
}

/* Top blocks */
#cityText {
    -fx-font-size:24px;
}

#mainTemperature {
    -fx-font-size: 50px;
    -fx-text-alignment: center;
}

#mainWeather {
    -fx-font-size: 24px;
    -fx-text-alignment: center;
}

#selectCity {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-font-size:17px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
    -fx-prompt-text-fill: #ffffff;
    -fx-font-color: #ffffff;
    -fx-background-radius: 2px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ffffff;
}

/* Forecast for 24 hours & 5 days */
.forecastBG {
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-background-radius: 5;
}

#forecastForDay{

}

.forecastTitle {
    -fx-font-size:16px;
}

.forecastText {
    -fx-font-size:14px;
}

#forecastScrollPane {
    -fx-background-color: transparent;
    -fx-background: transparent;
}

#forecastScrollPane .scroll-bar:horizontal .track {
    -fx-background-color: rgba(255,255,255,0.25); /* Change to your desired color */
}

.scroll-bar
{
  -fx-background-color: transparent;
}

.scroll-bar .track
{
  -fx-stroke-width: 1;
  -fx-stroke: -c-dark-glass;
  -fx-arc-width: 8px;
  -fx-arc-height: 8px;
  -fx-fill: transparent;
}

.scroll-bar .thumb
{
  -fx-fill: -c-glass;
  -fx-arc-width: 8px;
  -fx-arc-height: 8px;
}

.list-view,
.scroll-pane,
.scroll-pane > .viewport
{
  -fx-background-color: transparent;
}

.hourWeatherText{
    -fx-font-size:20px;
}

.dayWeatherTime{
    -fx-font-size:15px;
}

/* Forecast for other information */
.windText {
    -fx-font-weight:normal;
}

.otherInfoText{
    -fx-font-weight:normal;
}






